.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Local/*
Lecture/data/GMD.csv
Lecture/figures/*
Lecture/code/Chapter-03/walrasnl
Lecture/code/Chapter-03/+walrasnl
Lecture/code/Chapter-03/+walras
Lecture/code/Chapter-03/walras
Lecture/code/Chapter-03/walras.log
Lecture/code/Chapter-03/walrasnl.log
Lecture/code/Chapter-06/*.log
Lecture/code/Chapter-06/*.asv
Lecture/code/Chapter-06/+Ramsey
Lecture/code/Chapter-06/+Ramsey_Perm
Lecture/code/Chapter-06/+Ramsey_Exp
Lecture/code/Chapter-06/+Ramsey_Steady
Lecture/code/Chapter-06/+Ramsey_Temp
Lecture/code/Chapter-06/Ramsey
Lecture/code/Chapter-06/Ramsey_Perm
Lecture/code/Chapter-06/Ramsey_Exp
Lecture/code/Chapter-06/Ramsey_Steady
Lecture/code/Chapter-06/Ramsey_Temp
Lecture/code/Chapter-07/*.log
Lecture/code/Chapter-07/*.asv
Lecture/code/Chapter-07/+ramseygrowth_expd
Lecture/code/Chapter-07/+ramseygrowth_temp
Lecture/code/Chapter-07/+ramseygrowth_perm
Lecture/code/Chapter-07/ramseygrowth_expd
Lecture/code/Chapter-07/ramseygrowth_temp
Lecture/code/Chapter-07/ramseygrowth_perm
Lecture/code/Chapter-08/*.log
Lecture/code/Chapter-08/*.asv
Lecture/code/Chapter-08/+ramseygrowthext_stoch
Lecture/code/Chapter-08/+ramseygrowthext_temp
Lecture/code/Chapter-08/ramseygrowthext_stoch
Lecture/code/Chapter-08/ramseygrowthext_temp
Lecture/code/Chapter-09/*.log
Lecture/code/Chapter-09/*.asv
Lecture/code/Chapter-09/+moncomp_stoch
Lecture/code/Chapter-09/moncomp_stoch
Lecture/code/Chapter-10/*.log
Lecture/code/Chapter-10/*.asv
Lecture/code/Chapter-10/+nkmodel
Lecture/code/Chapter-10/nkmodel
Lecture/code/Chapter-11/*.log
Lecture/code/Chapter-11/*.asv
Lecture/code/Chapter-11/+labortax
Lecture/code/Chapter-11/labortax
Lecture/code/Chapter-11/+ramseytax
Lecture/code/Chapter-11/ramseytax
