.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Local/*
Lecture/data/GMD.csv
Lecture/figures/*
/Lecture/code/Chapter-03/walrasnl
/Lecture/code/Chapter-03/+walrasnl
/Lecture/code/Chapter-03/+walras
/Lecture/code/Chapter-03/walras
Lecture/code/Chapter-03/walras.log
Lecture/code/Chapter-03/walrasnl.log
